@import 'variables';

.card { 
    
    font-size: 14px; 
}
.card-buddy {
    width: 100%;
    background-color: antiquewhite;
}


.card-img-profile {
    height: 80px;
    width: 80px;
}

.card-name,
.card-price span{
    color: $orange-primary;
}

.card-text { font-size: 13.5px; }

.card-available {
    background-color: $bg-available;
}

.card-review {
    margin-bottom: .8rem;
    line-height: 1;
}
.card-rating span {
    font-size: 1rem;
}

