//Parte del home desde "Navbar" hasta "Cómo funciona"
.jumboHome{
    background-color: #de681f;
    text-align: center;
    width: 100%;
    max-width: 100%;
    margin: auto;
}
//SectionTab
.guideTabs{
    background-color: grey;
    width: 100%;
    height: 60vh;
    margin: auto;
    font-size: 25px;
    display: inline-block;
}
//Info
.middleImg{
    width: 100%;
    height: 80vh;
    background-image: url("https://static9.depositphotos.com/1022647/1081/v/600/depositphotos_10813712-stock-illustration-background-animal-footprints.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 100px;
    padding: 5px;
    margin: auto;
    font-size: 20px;
    color: black;
}