//Parte del home desde "Navbar" hasta "Cómo funciona"
.jumboHome{
    background-color: #de681f;
    text-align: center;
    width: 100%;
    max-width: 100%;
    margin: auto;
}
//SectionTab
.guideTabs{
    background-color: grey;
    width: 100%;
    height: 60vh;
    margin: auto;
    font-size: 25px;
    display: inline-block;
}
//Info
.middleImg{
    width: 100%;
    height: 80vh;
    background-image: url("https://lh3.googleusercontent.com/proxy/dcj-jmV9XWRD0gQc4C1VleMuD0hmh112RfAPulPU8o1xbCsAy7jeTmiI_sX_4JQZripyIuvABux-ypL0-TpcTiJ7Mh_0bqYpdtrdbqgE4C9Y1Z65B8RTasPJxPtdlxd0wPq4PRyfQcWTTIL-FAOPhDNbctn6YBJHv_skFP76");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 100px;
    padding: 5px;
    margin: auto;
    font-size: 20px;
    color: white;
}