/* 
    General Styles
*/
@import 'variables';

.btn-info {
    background-color: $orange-primary;
    border: 1px solid $orange-primary;

    &:hover {
        background-color: $orange-secondary;
        border: 1px solid $orange-secondary;
    }
}