.navbar{
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 1100;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    font-size: 24px;
    font-weight: 400;
    -webkit-transition: top 200ms;
    transition: top 300ms;
}
.navbar .logo{
    border-radius: 15px;
    border: 3px solid black;
    height: 50px;
}
.navbar i {
    font-size: medium;
    margin: auto;
    margin-top: 5px;
    height: 15px;
    width: 90px;
}
.btnNav{
    background-color: #de681f;
    color: white;
    border-radius: 10px;
    font-size: 19px;
    padding: 5px 15px;
}