#profileCont{
    width: 100%;
    height: 2500px;
    font-size: 60px;
}

/*.imgContainer{
    margin: "auto";
    height: "30px";
    width: "40px"
}*/
.ownerCard{
    margin-top: 90px;
    font-size: 20px;
}
#cardDeck{
    left:0;
    top:0;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
    display: "center";
    font-size: 20px;
}
#cardDeck img{
    width: 30%px;
    height: 200px;
    margin: auto;
}
