.profileCont{
    width: 100%;
    height: 2500px;
}

.imgContainer{
    margin: "auto";
    height: "30px";
    width: "40px"
}
.ownerCard{
    margin-top: 90px;
}
.cardDeck{
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
    display: "inline-flexbox";
}
