body{
    background-color: #CADCE4;
    height: 10vh;
    font-size: 25px;
    width: 100%;
}
.cardData{
    width: 100%;
    height: 500px;
    margin: 10px;
    display: flex;
    padding: 10px 0;
}
.card{
    background-color: #CADCE4;
    margin: auto;
    text-align: center;
    border: none;
    height: fit-content;
}