body{
    background-color: #CADCE4;
    height: 10vh;
    font-size: 25px;
    width: 100%;
}
.cardData{
    width: 1100px;
    height: 50;
    margin: 0px;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0;
    overflow-x: scroll;
}
.card{
    background-color: #CADCE4;
    margin: auto;
    text-align: center;
    border: none;
}
.colCont{
    margin: auto;
}